body {
    background-color: beige;
    font-family: sans-serif;
}

.ex1 {
    text-shadow: 8px 6px;
}

.ex2 {
    text-shadow: 1px 1px darkred;
}

.ex3 {
    text-shadow: 2px 2px 2px darkred;
}

.ex4 {
    color: white;
    text-shadow: 0px 0px 5px #1c1c1c;
}

.ex5 {
    color: ghostwhite;
    text-shadow: 0px 0px 4px orangered;
}

.ex6 {
    color: aliceblue;
    text-shadow: 0px 0px 3px orangered, 0px 0px 5px blue;
}

.ex7 {
    color: ghostwhite;
    text-shadow: 1px 1px 1px #ff0000, 0px 0px 5px blue;
}

